@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width:  100vw;
    overflow-x: hidden;
}


a {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a:hover {
    text-decoration: underline;
    color:#6415ff;
}

.purple {
    color: #6415ff;
}

ul {
    display: flex;
    list-style-type: none;
}

section {
    padding: 0 32px;
}

.row { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
   padding: 80px 0;
}

.section__tag{
    font: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 32px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    margin: 16px 0;
    
}

button{
    cursor: pointer;
    border: none;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

img {
    width: 100%;
}

.section__tag {
    color: #6415ff;
}

/* nav bar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px;
    padding-top: 32px 0 0;;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--image {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin: 0 24px;
    position: relative;
    
}

.nav__link--btn {
    padding: 8px 32px;
    background-color: #6415ff;
    color: white;
    border: none;
    border-radius: 9999px;
}

/* LANDING */

#header {
    display: flex;
    justify-content: space-between;;
}

.landing__wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* width: calc(100%-40%); */
    display: flex;
    align-items: center;
}

.landing__discription {
    width: 40%;
    padding: 36px;
}

.landing__title {
    font-size: 36px;
}

.landing__discription--para{
    font-size: 16px;
    margin: 32px 0;   
}

.landing__email {
    width: 100%;
    height: 68px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing__input--email {
    width: 100%;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 500px;
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.landing__input--btn {
    margin: 8px;
    height: calc(100% - 16px);
    width: 160px;
    border: none;
    border-radius: 500px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    z-index: 2;
    transition: all 300ms;
}

.landing__customers--tiltle {
    margin-top: 80px;
}

.landing__img--wrapper {
   width: 60%;
   padding-right: 36px;
}


.landing__customers--img{
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5
    ;
}


.landing__img--office {
    max-width: 100%;
    display: flex;
}

/* FEATURE */

#features {
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-content: center;
}



#features .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__title {

}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1
}

.feature__services {
    display: flex;
    flex-wrap: wrap;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
}

.feature__img {
    width: 24px;
    height: 24px;

}

.feature__title {
    font-size: 16px;
}

.feature__para {
    font-size: 16px;
    margin: 16px 0 0 0;
    color: rgb(124, 139, 161);
    font-weight: 500;

}
.feature__service--row {
    display: flex;
    width: calc(100%/3);
    align-items: flex-start; 
    padding: 32px 24px;   
}
.feature__discription {
    display: flex;
    ;
}

/* QUALITY */

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__section--title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    margin: 16px 0;
}


.quality__discription {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.quality__btn {
    background-color: #6415ff;
    color: #fff;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 32px;
    margin-top: 32px;
}
.quality__img--wrapper {
    width: 50%;
    position: relative;
    margin: 0 56px;

}


/* STEPS */


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper, .steps__description {
    width: 50%;
}

.steps__description {
    padding:32px 0 32px 64px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
}

.step__para {
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 2;
    margin-top: 12px;
}
.step__number {
    color:#cbd5e0;
    font-size: 36px;
    font-weight: 600;
}

/* VALUES */

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.values__description {
    width: 50%;
    padding: 32px 64px 32px 0;
}

.value {
    font: 16px;
    margin-top: 32px;
    margin-right: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__img--wrapper{
    width: 36px;
    height: 36px;
    background-color: #9ae6b4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__img {
    height: 20px;
    width: 20px;
}

.value__name {
    font-size: 20px;
    font-weight: bold;
    color: #243e24;
    margin-left: 12px;
}

.value__para {
    margin-top: 16px;
    font-size: 16px;
}

.value__list {
    display: flex;
}

.values__btn {
    background-color: #6415ff;
    margin-top: 48px;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.values__img {
    width: 50%;
}

/* PRICING */

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__para {
    max-width: 576px;
    text-align: center;
}
.plans {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 100;
    
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan {
    width: 100%;
    max-width: 384px;
    height: 594px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.plan__top .plan__middle .plan__bottom {
    padding: 32px;
    text-align: center;
}

.plan__name .plan__price .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}