@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width:  100vw;
    overflow-x: hidden;
}


a {
    text-decoration: none;
}

p {
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color:#6415ff;
}

.purple {
    color: #6415ff;
}

ul {
    display: flex;
    list-style-type: none;
}

.row { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
   padding: 80px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

img {
    width: 100%;
}

/* nav bar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px;
    padding-top: 32px 0 0;;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--image {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin: 0 24px;
    position: relative;
    
}

.nav__link--btn {
    padding: 8px 32px;
    background-color: #6415ff;
    color: white;
    border: none;
    border-radius: 9999px;
}

/* LANDING */

#header {
    display: flex;
    justify-content: space-between;;
}

.landing__wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* width: calc(100%-40%); */
    display: flex;
    align-items: center;
}

.landing__discription {
    width: 40%;
    padding: 36px;
}

.landing__title {
    font-size: 36px;
}

.landing__discription--para{
    font-size: 16px;
    margin: 32px 0;   
}

.landing__email {
    width: 100%;
    height: 68px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing__input--email {
    width: 100%;
    max-width: 448px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 500px;
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.landing__input--btn {
    margin: 8px;
    height: calc(100% - 16px);
    width: 160px;
    border: none;
    border-radius: 500px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    z-index: 2;
}

.landing__customers--tiltle {
    margin-top: 80px;
}

.landing__img--wrapper {
   width: 60%;
   padding-right: 36px;
}


.landing__customers--img{
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5
    ;
}


.landing__img--office {
    max-width: 100%;
    display: flex;
}

/* FEATURE */

#features {
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.section__tag {
    color: #6415ff;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    margin: 16px 0;
}

.section__para {
    text-align: center;
    max-width: 576px;
}

.feature__services {
    display: flex;
    flex-wrap: wrap;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
}

.feature__img {
    width: 24px;
    height: 24px;

}

.feature__title {
    font-size: 16px;
}

.feature__para {
    font-size: 16px;
    margin: 16px 0 0 0;
}
.feature__service--row {
    display: flex;
    width: calc(100%/3
);
    align-items: flex-start; 
    padding: 32px 24px;   
}
.feature__discription {
    display: flex;
    ;
}